*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.game-board {
    width: 100%;
    height: 500px;
    border-bottom: 15px solid #00c800;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background-image: url("../images/SNES\ -\ Super\ Mario\ World\ -\ Yoshis\ Island\ 2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color:skyblue;
}
.text-container {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.instruction {
    font-size: 24px;
    color: #000;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.pipe {
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 2s infinite linear;
}
.mario{
    width: 150px;
    bottom: 0;
    position: absolute;
}
.jump{
    animation: jump 500ms ease-out;
}

.clouds {
    width: 550px;
    position: absolute;
    animation: clouds-animation 20s infinite linear;
}
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
button {
    margin-bottom: 10px;
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
button:hover {background-color: #3e8e41}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


@keyframes pipe-animation {
    from {
        right: -80px;

    }
    to {
        right: 100%;

    }
}
@keyframes jump {

 0%{
    bottom: 0;
 }

40% {
    bottom: 180px;
}

50% {
    bottom: 180px;
}

60%{
    bottom: 180px;
}

100% {
    bottom: 0;
}

}
@keyframes clouds-animation {
    from {
      right: -550px;
    }

    to {
        right: 100%;
    }
}